<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>omah</title>
    <link rel="stylesheet" href="/asset/style.css">
</head>
<body>
    <%- include ('components/navbar') %>
    <%- include ('components/body') %>
    <%- include ('components/footer') %>
    <!-- <h3>FARID FARM</h3>
    <p>id : <%= jualan.Id %></p>
    <p>Nama : <%= jualan.Nama %></p> -->
  
</body>
</html>